/*----------cores--------------*/
$cor-principal: #465045;
$cor-secundaria:#B69F8D;
$cor-terciaria: #D5CBBF;
$gradiente: linear-gradient(45deg,#B69F8D,#7F6145);
$gradiente-secundario: linear-gradient(45deg,#7F6145,#B69F8D);

/*----------fonte--------------*/