@use '../abstract/variaveis';

.contato{
    padding-top: 2em ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .container__contato{
        padding: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        gap: 2em;
        width: 90%;
        background-color: variaveis.$cor-terciaria;
        h4{
            font-size: 2em;
            color: variaveis.$cor-principal;
        }
        .card__container{
            background-color: variaveis.$cor-principal;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;
            border-radius: 20px;
            width: 20%;
            gap: .50em;
            img{
                width: 2em;
            }
            a{
                text-decoration: none;
                color: variaveis.$cor-terciaria;
            }

            &:hover{
                background: #627460;
                transition: 0.3s;
                transform: translateY(-5px);
                
            }
        }
    }
}
