@media screen and (max-width: 500px) {
  
   
   /*--------------------Menu---------------------*/
      .menu {
         display: none;
      }

   /*--------------------Conteúdo Principal---------------------*/   

      .conteudo__principal{
         margin: 0;
         padding: 0;
         flex-direction: column;
         text-align: center;
         width: 100%;

         /*--------------------Info---------------------*/   
         .info {
            padding: 3em;
            align-items: center;
            justify-content: center;
            width: 100%;

            h1{
               font-size: 2.50rem;
            }
            
            p{
               font-size: 1.50rem;
            }
            .btn-falecomigo{
               width: 80%;
               padding: 2em;
            }
         }

         img{
            width: 100%;
         }
      } 
      


   /*--------------------Serviços---------------------*/  
   .servicos{

       /*--------------------Container---------------------*/  
    .container{
      width: 100%;
      h3{
         text-align: center;
      }
      /*--------------------span---------------------*/  
      span{

         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         margin: 0;
         
         h4{
            text-align: center;
         }
         p{
            text-align: center;
         }
         .card{
            width: 100%;
         }
         
      }

      /*--------------------Botão---------------------*/  
      .btn-orcamento{
         text-align: center;
         padding: 3em;
         width: 100%;
      } 
    }
   }

   /*--------------------Sobre mim--------------------*/

   .sobre-mim{
      width: 100%;
      flex-direction: column;
      img{
         width: 80%;
      }
      div{
         align-items: center;
         text-align: center;
         width: 80%;
         padding-bottom: 3em;
      }
    }

    .formacao{
      .container_formacao{
         width: 100vh;
         .formacao__facul{
            .card__formacao{
               .info__card{
                  img{
                     width: 5em;
                  }
                  .curso{
                     
                     gap: 0;
                     flex-direction: column;
                     span{
                        width: 100%;
                        padding: 0;
                     }
         
                  }

               }
               
            }
         }
      }
    }
    .contato{
      .container__contato{
         width: 100%;
         h4{
            text-align: center;
            width: 100%;

         }
         .card__container{
            width: 100%;
         }
      }
   } 

}

@media screen and (max-width: 430px) {
   .conteudo__principal {
      width: 100vw;
      flex-direction: column-reverse;
      gap:0;
      .info{
         h2{
            font-size: 1.30em;
         }
         h1{
            font-size: 2em;
         }
         p{
            font-size: 1.30em;
         }

         .btn-falecomigo{
            width: 100%;
            a{
               font-size: 1.50rem;
            }
         }
      }
   }

    /*--------------------Serviços---------------------*/  
    .servicos{
      width: 100vw;

      /*--------------------Container---------------------*/ 
      .container{
         width: 100vw;
         
         h3{
            font-size: 1.50em;
         }
         span{
            .card{
               height: auto;
               padding: 1em;
               h4{
                  font-size: 1.30em;
                  
   
               }
               
            }
         }
         .btn-orcamento{
            padding: 0;

            a{
               font-size: 1rem;
            }
            
         }

         
      }
   }


   .contato{
      .container__contato{
         h4{
            width: 120%;
            font-size: 1.50rem;
         }
      }
      
   }
   .formacao{
      
      .container_formacao{
         padding: 2em;
         h4{
            font-size: 2rem;
         }
         .formacao__facul{
            
            width: 100%;
            .card__formacao{
               
               
               width: 100%;
               .info__card{
                  
                 
                  .data{
                     font-size: .75rem;
                  }
                  .curso{
                     font-size: 1rem;

                  }
               }
            }
         }
      }  
   }


}
